<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>モルポッポの本屋さん</h1>
    <form method="post" action="{{ url_for('register') }}">
        <table border="1">
            <tr>
                <th>タイトル</th>
                <th>金額</th>
                <th>入荷日</th>
            </tr>
            <tr>
                <td><input type="text" name="title"></td>
                <td><input type="text" name="price"></td>
                <td><input type="text" name="arrival_day"></td>
            </tr>
        </table>
        <br>
        <input type="submit" value="登録">
    </form>
</body>
</html>